.about {
    display: flex;
    padding: 0 20%;   
    flex-direction: column;
}

.about .scoti {
    background: url('../assets/scoti-sketch.PNG') bottom center no-repeat;
    background-size: 70%;
    height: 300px;
    width: 300px;
}

.about h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2rem;
    color: #3b5366ff;
}

.about p {
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    color: #3b5366ff;
}

