@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

   /* CSS HEX */
:root {
    /* --secondaryLight: #b2c3c8; */
    --secondaryLight: #BDBDBD;
    /* --secondaryDark: #3b5366; */
    --secondaryDark: #003566;
    /* --accent: #BC8538; */
    /* --accent: #bb4d00; */
    /* --accent: #0096c7; */
    --accent: #9c3636;
    --primary: #38373c; 
}

body {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    color: var(--primary);
}

h1, h2, h3, h4, h5, p {
    margin: 0 0 12px 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: var(--secondaryDark);
}

p { 
    color: var(--primary);
    font-size: 1rem;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 2.5rem;
    margin: 0 0 34px 0;
}

h2 {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 1.3rem;
}

h3 {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h4 {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 1rem;
}

p {
    font-family: 'Roboto Mono', serif;
    font-size: 1rem;
}



.nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
}

.nav li a:hover {
    border-left: 5px solid var(--accent);
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 2%;
    margin: 5rem 0 auto;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: relative;
    top: auto;
    right: 0px;
}

.nav li {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4rem;
    color: var(--secondaryDark);
    padding: 0 0 25%;
    margin: 0;
}

.nav li:hover {
    cursor: pointer;
}

.nav div {
    position: absolute;
    right: 0;
    top: 0;    
}

.sd span.scoti {
    font-family: 'Fjalla One', sans-serif;
    white-space: nowrap;
    color: var(--secondaryLight);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 18px;
    left: 15px;
    font-size: 3rem;
    font-weight: 700;
}

.sd span.dodson {
    display: block;
    font-family: 'Fjalla One', sans-serif;
    white-space: nowrap;
    color: var(--secondaryLight);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 1.8rem;
    left: 35px;
    font-size: 3rem;
}

#top {
    position: absolute;
    right: 0;
    top: 0;
}

.pageContainer {
    padding: 0 2%;
    margin-left: 100px;
}


@media only screen and (max-width: 480px) {
    div.nav {
        position: fixed;
        overflow: hidden;
        bottom: 0;
        width: 100%;
        z-index: 99;
        display: none;
    }

    /* .navigation {
        position: relative;
        overflow: hidden;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: var(--secondaryLight);
        z-index: 99;
    }
    
    .navigation li a:hover {
        border: none;
    }
    
    .navigation ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: auto;
        margin: 0;
        writing-mode: horizontal-tb;
        text-orientation: upright;
        color: #fff;

    }
    
    .navigation li {
        padding: 15px 0;
        margin: 0 auto;
    }
        
    .sd {
        display: none;
    } */

    .pageContainer {
        padding: 0 25px 0 40px;
        margin: 0;
    }

}
