.resume {
    margin: 0px 0;
    padding: 60px 0;
    max-width: 800px;
    border-left: 5px solid var(--secondaryLight);
    position: relative;
}

.resume h2,
.resume h3,
.resume h4 {
    padding: 0 0 0 40px;
    position: relative;
}

.resume h2 {
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.resume h3 {
    font-weight: 500;
    font-style: italic;
}

.resume h4 {
    font-family: 'Roboto Mono';
    color: var(--accent);
    font-weight: 600;
    font-size: .8rem;
    margin: 0 0 4px 0;
    text-transform: uppercase;
}

.resume ul {
    list-style: none;
}

.resume li {
    font-size: .9rem;
    margin: 0 0 20px 0;
    line-height: 1rem;
}

.resume__segment {
    position: relative;
    padding: 10px 0 10px 40px;
}

.resume__segment h2:before {
    content: "";
    width: 60px;
    height: 5px;
    display: inline-block;
    background: var(--secondaryLight);
    position: absolute;
    top: 0;
    left: -40px;
}

@media only screen and (max-width: 480px) {
    .resume__segment {
        position: relative;
        padding: 10px 0 10px 15px;
    }

    .resume__segment h2:before {
        content: "";
        width: 35px;
        height: 5px;
        display: inline-block;
        background: var(--secondaryLight);
        position: absolute;
        top: 0;
        left: -15px;
    }
}
