.contact {
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    max-width: 500px;
}

.contact__path {
    margin: 0 auto;
    color: var(--secondaryDark);
    font-size: 1.3rem;
    padding: 0 6px;
    border-left: 5px solid var(--secondaryLight);
    border-right: 5px solid var(--secondaryLight);
}
