.hero {
    display: flex;
    min-height: 200px;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20% 80px;
}

/* .hero .right {
    width: 40%;
    background: url('../assets/scoti.JPG') bottom center no-repeat;
    background-size: 70%;
} */

.hero h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    color: #3b5366ff;
    margin: 0 0 10px;
    padding: 0;
}

.hero p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;
    color: #3b5366ff;
    margin: 0;
    padding: 0;
}

