.hero {
    display: flex;
    min-height: 350px;
    padding: 0 5%;
    
}

.hero .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero .right {
    width: 40%;
    background: url('../assets/scoti.JPG') bottom center no-repeat;
    background-size: 70%;
}

.hero h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    color: #3b5366ff;
}

.hero h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;
    color: #3b5366ff;
}

