.portBlock {
    display: block;
    width: 100%;
}

.portBlock .image, .portBlock .text {
    display: block;
    min-height: 300px;
    padding: 10%;
}

.portBlock .image {
    background-color: #B0C8DB;
}