.portfolio {
    width: 100%;
    min-height: 300px;
}

.portfolio__block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.portfolio__block .image, .portfolio__block .text {
    display: block;
    min-height: 300px;
    padding: 10%;
    width: 50%;
}

.portfolio__block .image {
    background-color: #B0C8DB;
}
