.portfolio__block {
    min-height: 400px;
}

.portfolio__block:last-of-type {
    margin-bottom: 100px;
}

.portfolio__block--textRight {
    display: flex;
    flex-direction: row;
}

.portfolio__block--textLeft {
    display: flex;
    flex-direction: row-reverse;
}

.portfolio__block__text {
    display: block;
    width: 50%;
}

.portfolio__block__textContainer {
    padding: 40px 30px;
}

.portfolio__block__image {
    background: url('../assets/bridge-haze.jpg') bottom center no-repeat;
    background-size: 100%;
    width: 50%;
}