@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    color: #38373c;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: #3b5366;
}

p { 
    color: #38373c;
}

h2 {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 1rem;
}

h3 {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h4 {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 1rem;
}

p {
    font-family: 'Roboto Mono', serif;
    font-size: 1rem;
}



.navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
}

.navigation li a, .sd span a {
    text-decoration: none;
    color: inherit;
}

.navigation li a:hover {
    border-left: 3px solid #c89247;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: fixed;
    top: 8px;
    right: 0px;
}

.navigation li {
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4rem;
    color: #3b5366;
    padding: 20px 0;
    margin: 0;
}

.navigation li:hover {
    cursor: pointer;
}

.navigation div {
    position: absolute;
    right: 0;
    top: 0;    
}

.sd span.scoti, .sd span.dodson {
    /* z-index: 20; */
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 700;
    letter-spacing: 3px;
}

.sd span.scoti {
    font-family: 'Fjalla One', sans-serif;
    white-space: nowrap;
    color: #3b5366;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 3rem;
}

.sd span.dodson {
    display: block;
    font-family: 'Fjalla One', sans-serif;
    white-space: nowrap;
    color: #B0C8DB;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 1.2rem;
    left: 40px;
    font-size: 3rem;
}

.pageContainer {
    padding: 60px 60px 0 80px;
}
   
   
   /* CSS HEX */
   /* --silver-sand: #b2c3c8;
   --deep-space-sparkle: #50696c;
   --charcoal: #3b5366;
   --camel: #c89247;
   --jet: #38373c; */